/* CSS 스타일 리셋 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    font-family: "notoSansKr", "Malgun Gothic", "맑은 고딕", dotum, "돋움", Helvetica, Apple-Gothic, Sans-serif;
    font-weight: 600;
}


h1 {
    font-size: 40px;
    letter-spacing: -2.6px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    letter-spacing: -2.2px;
    line-height: 2.2rem;
    font-weight: 500;
    margin-left: 18px;
}

p {
    word-break: keep-all;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.6px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    position: fixed;

    /* div 최상단 위치 */
    z-index: 1;
}

header > .Container {
    display: flex;
    margin-right: 60px;
}

header .HeaderBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #595757;
    font-size: 1.0625rem;
    margin-left: 20px;
    padding: 10px 20px;
}

header .Logo {
    width: 135px;
    height: 100%;
    background-image: url(logo_codealive.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 60px;
}

.VideoWrap {
    width: 100%;
}

.VideoWrap > video {
    width: 100%;
    height: 100%;
}

.Introduction {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    background-color: whitesmoke;
    padding-bottom: 50px;
}

.Introduction .Left {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
}

.Introduction .IframeWrap {
    width: 80%;
    height: 80%;
}

.Introduction .IframeWrap iframe{
    width: 100%;
    height: 100%;
}

.Introduction .Right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.Introduction .Right p {
    margin-top: 18px;
}

.Features {
    /* padding-top: 60px; */
    padding-top: 80px;
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.Features .Title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Features .Title > p {
    margin-top: 18px;
}

.Features .Contents {
    flex-grow: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 80px;
}

.Contents .Wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Contents .Wrap .Left {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    height: 100%;
}

.Contents .Wrap .Left a{
    display: flex;
    text-decoration: none;
    text-align: start;
    color: #1d1d1f;
    margin-top: 20px;
    margin-bottom: 120px;
}

.Features .Wrap .Left h1 {
    padding-top: 10px;
    padding-left: 50px;
}

.Features .Right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.Features .Right .Screen {
    width: 1150px;
    height: 680px;
}

.Features .Right .Screen .Picture{
    border-radius: 10px;
}

.Features .Right .Screen p{
    font-size: 15px;
    color: #f2f2f2;
}

#CircleNumber {
    background-color: gainsboro;
    color: grey;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
}

#CircleNumber > div {
    margin-top: 10px;
    font-size: 32px;
}



.Course {   
    height: 800px;
    margin-top: 120px;
    margin-bottom: 80px;
    padding-top: 40px;
    background-color: #f2f2f2;
}

.Course .Wrap {
    padding-top: 40px;
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    
}

.Course .Wrap .BoxWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 40px;
}

.Course .Wrap .BoxWrap div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #403e3e;
    width: 30%;
    height: 90%;
    border-radius: 10px;
}

.Course .Wrap .BoxWrap div > h1{
    font-size: 37px;
}

.Course .Wrap .BoxWrap div div{
    background-color: white;
    color: #202020;
    border-radius: 5px;
    width: 80%;
    height: 60%;
    margin-top: 60px;
}

.Course .Wrap .BoxWrap div div > p{
    width: 200px;
}

.Course .Wrap .BoxWrap div div > h2{
    margin-left: 0;
    letter-spacing: -1.5px;
    font-weight: bold;
}

.Project { 
    display: flex;
    justify-content: center;
    height: 1000px;
    text-align: center;
    background-color: #343a40;
}

.Project .Wrap {
    width: 80%;
    color: white;
    padding-top: 80px;
}

.GalleryWrap {
    display: flex;
    justify-content: space-evenly;
}

.GalleryWrap div {
    width: 500px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
}

.Review {
    display: flex;
    justify-content: center;
    height: 800px;
    margin-top: 40px;
}

.Review .Wrap {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Review .Wrap h1 {
    text-align: center;
    color: #202020;
}

.Review .Wrap .SliderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.Review .Wrap .SliderWrap .Slider{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.Review .Wrap .SliderWrap .Slider .SliderList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Review .Wrap .SliderWrap .Slider .SliderList #SliderElements {
    display: flex;
    flex-direction: row;
    background-color: rgb(207, 207, 207);
    border-radius: 0.8rem;
    padding: 3rem 3rem 3rem 3rem;
    margin: 3rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 170%;
}

.SliderNav {
    display: flex;
    justify-content: center;

}

.SliderNav .Wrap {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.SliderNav .Wrap .NavBtn {
    width: 18px;
    height: 18px;
    background-color: rgb(202, 193, 193);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1.2rem;
}

#Profile {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.Partner {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 62, 77);
}

.Partner .Wrap {
    width: 80%;
    background-color: rgb(0, 62, 77);
    height: 100%;
}

.Partner .Wrap h1 {
    padding-top: 60px;
    color: white;
    text-align: center;
}

.Partner .Wrap h2:nth-of-type(1) {
    padding-top: 60px;
    color: white;
    text-align: center;
}
.Partner .Wrap h2:nth-of-type(2) {
    padding-top: 12px;
    color: white;
    text-align: center;
}

.Partner .Wrap h2:nth-of-type(3) {
    padding-top: 12px;
    color: white;
    text-align: center;
}

.PartnerBtnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: #343a40;
}

.Footer .Wrap {
    width: 80%;
    background-color: #343a40;
}

.Footer .IncWrap {
    display: flex;
    flex-direction: row;
}

.Footer .IncWrap .Inc p {
    color: white;
    font-size: 14px;
    padding-left: 12px;
}

.Footer .IncList {
    display: flex;
    justify-content: flex-end;
    padding-top: 4px;
}

.Copyright {
    display: flex;
    background-color: #343a40;
    width: 100%;
    height: 100px;
    border-top: solid 0.3px rgb(162, 162, 162);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(162, 162, 162);
}