/* CSS 스타일 리셋 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    font-family: "notoSansKr", "Malgun Gothic", "맑은 고딕", dotum, "돋움", Helvetica, Apple-Gothic, Sans-serif;
    font-weight: 600;
}


h1 {
    font-size: 40px;
    letter-spacing: -2.6px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    letter-spacing: -2.2px;
    line-height: 2.2rem;
    font-weight: 500;
    margin-left: 18px;
}

p {
    word-break: keep-all;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.6px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: red;

    position: fixed;
}

header > .Container {
    display: flex;
    margin-right: 60px;
}

header .HeaderBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #595757;
    font-size: 1.0625rem;
    margin-left: 20px;
    padding: 10px 20px;
}

header .Logo {
    width: 135px;
    height: 100%;
    background-image: url(logo_codealive.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 60px;
}

.VideoWrap {
    width: 100%;
    background-color: aqua;
}

.VideoWrap > video {
    width: 100%;
    height: 100%;
}

.Introduction {
    width: 80%;
    height: 380px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.Introduction .Left {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: brown;
}

.Introduction .IframeWrap {
    width: 80%;
    height: 80%;
}

.Introduction .IframeWrap iframe{
    width: 100%;
    height: 100%;
}

.Introduction .Right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: cornflowerblue;
}

.Introduction .Right p {
    margin-top: 18px;
}

.Features {
    width: 80%;
    height: 640px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.Features .Title {
    flex-grow: 1;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Features .Title > p {
    margin-top: 18px;
}

.Features .Contents {
    flex-grow: 6;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 80px;
}

.Contents .Wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Contents .Wrap .Left {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    height: 100%;
}

.Contents .Wrap .Left a{
    display: flex;
    text-decoration: none;
    text-align: start;
    color: #1d1d1f;
    margin-top: 80px;
}

.Features .Right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.Features .Right .Screen {
    width: 790px;
    height: 480px;
}

.Features .Right .Screen .Picture{
    border-radius: 10px;
}

.Features .Right .Screen p{
    font-size: 15px;
    color: #f2f2f2;
}

#CircleNumber {
    background-color: gainsboro;
    color: grey;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
}

#CircleNumber > div {
    margin-top: 5px;
    font-size: 16px;
}

.Course {   
    height: 600px;
    margin-top: 80px;
}

.Course .Wrap {
    padding-top: 40px;
    width: 80%;
    height: 100%;
    text-align: center;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.Course .Wrap .BoxWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 40px;
}

.Course .Wrap .BoxWrap div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #403e3e;
    width: 30%;
    height: 440px;
    border-radius: 10px;
}

.Course .Wrap .BoxWrap div > h1{
    font-size: 37px;
}

.Course .Wrap .BoxWrap div div{
    background-color: white;
    color: #202020;
    border-radius: 5px;
    width: 80%;
    height: 60%;
    margin-top: 60px;
}

.Course .Wrap .BoxWrap div div > p{
    width: 200px;
}

.Course .Wrap .BoxWrap div div > h2{
    margin-left: 0;
    letter-spacing: -1.5px;
    font-weight: bold;
}

.Project { 
    display: flex;
    justify-content: center;
    height: 800px;
    margin-top: 120px;
    background-color: burlywood;
    text-align: center;
}

.Project .Wrap {
    width: 80%;
    color: white;
    background-color: #403e3e;
    padding-top: 80px;
}

.GalleryWrap {
    display: flex;
    justify-content: space-evenly;
}

.GalleryWrap div {
    width: 380px;
    height: 240px;
    background-color: white;
    border-radius: 10px;
}

.Review {
    display: flex;
    justify-content: center;
    height: 800px;
    margin-top: 120px;
}

.Review .Wrap {
    width: 90%;
    color: white;
    background-color: cornflowerblue;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Review .Wrap h1 {
    text-align: center;
    color: #202020;
}

.Review .Wrap .SliderWrap {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Review .Wrap .SliderWrap .Slider{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    width: 90%;
    height: 320px;
    overflow: hidden;
}

.Review .Wrap .SliderWrap .Slider .SliderList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Review .Wrap .SliderWrap .Slider .SliderList #SliderElements {
    display: flex;
    flex-direction: row;
    background-color: rgb(202, 193, 193);
    /* transition: 0.2s ease-in-out; */
    border-radius: 0.8rem;
    padding: 45px 52px 40px 52px;
    margin: 1%;
}